
<div *ngIf="info.token; else loggedOut">

  <mat-toolbar>
    <span class="title-center">Your Information</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>

      <p>
        <strong>Username:</strong> {{info.username}}<br/>
        <strong>Roles:</strong> {{info.authorities}}<br />
        <strong>Token:</strong> {{info.token}}.
      </p>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>

    </mat-card-content>
  </mat-card>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
